html,
body {
  background-color: rgb(24, 26, 27);
  margin: 0px;
  position: relative;
  height: 100%;
}

/*************************************************************************************************************************/
/*************************************************************************************************************************/
/****************** TOP-HEADER & HEADER **********************************************************************************/
/*************************************************************************************************************************/
/*************************************************************************************************************************/
.top-block {
  display: flex;
  justify-content: center;
  background-color: rgb(24, 26, 27);
}

.top-header-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 60vw;
}

.top-header-left {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  width: 60vw;
}

.top-header-right > div {
  color: rgb(168, 160, 145);
  margin-right: 10px;
  font-size: 12px;
}

.top-header-right > div > a {
  color: rgb(168, 160, 145);
  text-decoration: none;
}

.top-header-right > div > a:hover {
  color: rgb(161, 144, 111);
  text-decoration: underline;
}

.search-bar {
  margin-top: 15px;
  width: 40vw;
}

.header-item {
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(168, 160, 145);
}

.btn {
  color: orange !important;
  background-color: rgb(31, 33, 35) !important;
  margin-left: 2px;
}

.btn:hover {
  color: rgb(253, 188, 68) !important;
}

.search {
  background-color: rgb(31, 33, 35) !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: white;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control:focus {
  box-shadow: none;
}

h2 {
  font-family: "Indie Flower", cursive;
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: white !important;
  font-style: italic;
}

/*https://gist.github.com/7821430*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 165, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 165, 0, 0.6);
  outline: 0 none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-color: rgba(172, 113, 4, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(172, 113, 4, 0.6);
  outline: 0 none;
}

/************************************************************************************************************/
/************************************************************************************************************/
/****************** NAVBAR **********************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  width: 60vw;
  color: white !important;
}

.swiper-button-prev {
  left: -30px !important;
  color: orange !important;
}

.swiper-button-next {
  right: -10px !important;
  color: orange !important;
}

swiper-slide > span > a {
  color: rgb(243, 206, 138) !important;
  text-decoration: none;
}

swiper-slide > span:hover {
  text-shadow: 10px 10px 25px rgb(255, 255, 255, .3),
  -10px 10px 25px rgb(255, 255, 255, .3),
  -10px -10px 25px rgb(255, 255, 255, .3),
  10px -10px 25px rgb(255, 255, 255, .3);
  text-decoration: underline;
  text-decoration-color: rgb(243, 206, 138);
}

/************************************************************************************************************/
/************************************************************************************************************/
/****************** BODY ************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/


.body {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  width: 60vw;
}

/************************************************************************************************************/
/************************************************************************************************************/
/****************** FOOTER **********************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
#footer {
  color: white;
}

.demo-200 {
  height: 200px;
}

.demo-400 {
  height: 400px;
}

.demo-800 {
  height: 800px;
}

.demo-1200 {
  height: 1200px;
}
